// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{
	width:100%;
	height:100%;
	overflow: hidden;
}

.content-todo-list{
	position: relative;
	width: 100%;
	height: 100%;

	.content-img{
		position:absolute;
		top:50%;
		margin-top: -300px;
		right:50%;
		margin-right: -300px;
		width: 600px;
		height:600px;

		img{
			width:100%;
			height:auto;
		}
	}
}